<mat-spinner *ngIf="!categories"></mat-spinner>
<ng-container *ngIf="categories">
  <mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile *ngFor="let cat of categories">
      <mat-card class="card-section">
        <div *ngIf="cat == 'electronics'">
          <img src="../../assets/images/Electronics.png" class="image" width="170" class="image" height="170">
        </div>
        <div *ngIf="cat == 'jewelery'">
          <img src="../../assets/images/jewelry.png" class="image" width="170" class="image" height="170">
        </div>
        <div *ngIf="cat.substring(0, 3) == ('men')">
          <img src="../../assets/images/man-wear.jpeg" class="image" width="170" class="image" height="170">
        </div>
        <div *ngIf="cat.substring(0, 5) == 'women'">
          <img src="../../assets/images/woman-wear.png" class="image" width="170" class="image" height="170">
        </div>
        <mat-card-footer>
          <p>
            <a href="/products/category/{{cat}}">{{cat}}</a>
          </p>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="card-section">
          <mat-card-footer>
            <p>
              <a  href="/products" mat-button><span class="text-primary">Browse All</span></a>
            </p>
          </mat-card-footer>
        </mat-card>
      </mat-grid-tile>
  </mat-grid-list>
</ng-container>

  