.mat-grid-list {
  margin-top: 20px;
}

.mat-grid-tile {
  margin-top: 40px;
  
  .mat-card {
    margin-bottom: 40px;
  }

  .mat-card-footer {
    text-align: center;
    margin-top: 10px;

    a {
      color: black;
      text-decoration: none;
    }
  }
}