<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <mat-card class="login-container">
        <form [formGroup]="loginForm">
          <mat-form-field class="form-field">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email">
            <mat-error *ngIf="loginForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.controls['email'].hasError('email')">
              Please enter a valid email.
            </mat-error>
          </mat-form-field>
          <br>
          <br>
          <mat-form-field class="form-field">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password">
            <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="loginForm.controls['password'].hasError('minlength')">
              Password should be minimum <strong>6 chars</strong> long.
            </mat-error>
          </mat-form-field>
          <br>
          <br>
          <div>
            <button type="submit" (click)="submitLoginForm()" mat-stroked-button [disabled]="!loginForm.valid">Submit</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
