<div class="tile-container">
  <div class="tile-header">
    <img src="{{productData.image}}" alt="">
  </div>
  <div class="tile-info">
    <div class="title">{{productData.title}}</div>
    <div class="rating-bar"></div>
    <div class="price">${{productData.price}}</div>
    <div class="description">{{productData.description}}</div>
    <div class="star-rating">
      <span>
        {{productData.rating.rate}}/5 <span><i class="fa fa-star"></i></span>
      </span>
    </div>
  </div>
</div>
