<div class="container">
<mat-spinner *ngIf="!user"></mat-spinner>
<form class="example-form" *ngIf="user">
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput>{{userFirstName}}
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Long Last Name That Will Be Truncated</mat-label>
        <input matInput>{{lastName}}
      </mat-form-field></td>
    </tr></table>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+1 &nbsp;</span>
        <input type="tel" matInput placeholder="555-555-1234">{{user.phone}}
        <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <p>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">
            {{user.address.number}}, {{user.address.city}}
        </textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco">{{user.address.city}}
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">{{user.address.street}}
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105">{{user.address.zipcode}}
      </mat-form-field></td>
    </tr></table>
  </form>
  </div>